<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapploggertest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1c10189b-6fe4-410b-958f-7b34dab51fc6/resourceGroups/davidtestgp/providers/Microsoft.Web/sites/FunctionAppLoggerTest</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/1c10189b-6fe4-410b-958f-7b34dab51fc6/resourcegroups/davidtestgp/providers/Microsoft.ContainerRegistry/registries/FunctionAppLoggerTest</ContainerResourceId>
    <ContainerResourceName>FunctionAppLoggerTest</ContainerResourceName>
    <Subscription>David Azure subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>functionapploggertest.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>